<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stastika Cisel</title>
</head>
<body>

<h1>
    Statistika Cisel
</h1>

<form action="/statistika" method="post">
    <p>Zadej cela cisla</p>
    <input>
    <button type="submit" >Vytvor statistiku</button>
</form>

<p>Soucet</p>
<p th:text="${stastikaDTO.}"></p>

<p>Nejmensi cislo</p>
<p>Soucet</p>

<p>Nejvetsi cislo</p>
<p>Soucet</p>

<p>Prumer</p>
<p>Soucet</p>

<p>Serazena cisla</p>
<p>Soucet</p>



</body>
</html>