<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stastika Cisel</title>
</head>
<body>

<h1>
    Statistika Cisel
</h1>

<form action="/statistika" method="post">
    <p>Zadej cela cisla</p>
    <input th:field="${statistikaDTO.input}">
    <button type="submit" >Vytvor statistiku</button>
</form>

<p>Soucet</p>
<p th:text="${soucet}"></p>

<p>Nejmensi cislo</p>
<p th:text="${nejmensi}"></p>

<p>Nejvetsi cislo</p>
<p th:text="${nejvetsi}"></p>

<p>Prumer</p>
<p th:text="${prumer}"></p>

<p>Serazena cisla</p>
<p>Soucet</p>



</body>
</html>