<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stastika Cisel</title>
</head>
<body>

<h1>
    Statistika Cisel
</h1>

<form action="/statistika" method="post">
    <p>Zadej cela cisla</p>
    <input th:field="${statistikaDTO.input}" required>
    <button type="submit" >Vytvor statistiku</button>
</form>

<div th:if="${statistikaResultDTO != null}">
<p>Soucet</p>
<p th:text="${statistikaResultDTO.soucet}"></p>

<p>Nejmensi cislo</p>
<p th:text="${statistikaResultDTO.nejmensi}"></p>

<p>Nejvetsi cislo</p>
<p th:text="${statistikaResultDTO.nejvetsi}"></p>

<p>Prumer</p>
<p th:text="${statistikaResultDTO.prumer}"></p>

</div>



</body>
</html>