<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java SpringBoot Kalkulacka</title>
</head>
<body>
<h1 th:text="${titleDTO.title}">
</h1>

<p th:text="${titleDTO.description}"></p>

<form action="/calculator" method="post">
    <label>
        First number:
        <input type="number" id="number1" name="number1" th:field="${calculatorDTO.number1}"/>
    </label><br/>

    <label>Operation:
        <select id="operation" name="operation" th:field="${calculatorDTO.operation}">
            <option value="+">Plus</option>
            <option value="-">Minus</option>
            <option value="*">Times</option>
            <option value="/">Divide by</option>
        </select>
    </label><br/>

    <label>
        Second number:
        <input type="number" id="number2" name="number2" th:field="${calculatorDTO.number2}"/>
    </label><br/>

    <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
</form>


<h1>
    Result
</h1>

Number 1: <span th:text="${calculatorDTO.number1}"></span></br>
Number 2: <span th:text="${calculatorDTO.number2}"></span></br>

<p>
    Vysledek: <span th:text="${calculationResult}"></span>
</p>

</body>
</html>