<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BMI Calculator</title>
</head>
<body>
<h1>BMI Calculator</h1>
<form method="post" action="/bmicalculator" th:object="${bmiDTO}">
  <label>Height (cm):</label>
  <input type="text" th:field="*{height}">

  <label>Weight (kg):</label>
  <input type="text" th:field="*{weight}">

  <button type="submit">Calculate</button>

</form>

<div th:if="${bmiScore != null}">
  <h2>Youre BMI is: <span th:text="${bmiScore}"></span></h2>
</div>

</body>
</html>